@font-face {
    font-family: Inter;
    src: url(./fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: JejuHallasan;
    src: url(./fonts/JejuHallasan-Regular.ttf);
}

.everything {
    width: 100%;
    height: 1280px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(58, 56, 66, 1);
}

.menu-button {
    display: none;
}

@media (min-width: 1340px) {

    .frame1-navigation {
        top: 30px;
        left: 940px;
        width: 800px;
        height: 94px;
        position: absolute;
        border-radius: 30px;
    }

    .main-link {
        top: 60px;
        left: 963px;
        color: rgba(0, 0, 0, 1);
        width: 190px;
        height: auto;
        position: absolute;
        font-size: 32px;
        font-style: Regular;
        text-align: left;
        font-family: Inter;
        font-weight: 400;
        line-height: normal;
        font-stretch: normal;
        text-decoration: underline;
    }

    .about-link {
        top: 60px;
        left: 1150px;
        color: rgba(0, 0, 0, 1);
        width: 190px;
        height: auto;
        position: absolute;
        font-size: 32px;
        font-style: Regular;
        text-align: left;
        font-family: Inter;
        font-weight: 400;
        line-height: normal;
        font-stretch: normal;
        text-decoration: none;
    }

    .scheme-link {
        top: 60px;
        left: 1318px;
        color: rgba(0, 0, 0, 1);
        width: 239px;
        height: auto;
        position: absolute;
        font-size: 32px;
        font-style: Regular;
        text-align: left;
        font-family: Inter;
        font-weight: 400;
        line-height: normal;
        font-stretch: normal;
        text-decoration: none;
    }

    .placeholder-contacts {
        top: 60px;
        left: 1539px;
        color: rgba(0, 0, 0, 1);
        width: 159px;
        height: auto;
        position: absolute;
        font-size: 32px;
        font-style: Regular;
        text-align: left;
        font-family: Inter;
        font-weight: 400;
        line-height: normal;
        font-stretch: normal;
        text-decoration: none;
    }

    .frame1-photo17091683133 {
        top: 15px;
        left: 10px;
        width: 151px;
        height: 124px;
        position: absolute;
    }


    .frame1-container-navigation {
        top: 0px;
        left: 0px;
        width: 1980px;
        height: 154px;
        position: absolute;
        border-color: rgba(0, 0, 0, 1);
        border-style: solid;
        border-width: 1px;
    }

    .frame-text {
        top: 51px;
        left: 172px;
        color: rgba(0, 0, 0, 1);
        width: 288px;
        height: auto;
        position: absolute;
        font-size: 64px;
        font-style: Regular;
        text-align: left;
        font-family: JejuHallasan;
        font-weight: 400;
        line-height: normal;
        font-stretch: normal;
        text-decoration: none;
    }
}

    @media (min-width: 992px) and (max-width: 1340px) {

        .frame1-photo17091683133 {
            top: 40px;
            left: 10px;
            width: 76px;
            height: 62px;
            position: absolute;
        }

        .frame-text {
            top: 60px;
            left: 90px;
            color: rgba(0, 0, 0, 1);
            width: 288px;
            height: auto;
            position: absolute;
            font-size: 36px;
            font-style: Regular;
            text-align: left;
            font-family: JejuHallasan;
            font-weight: 400;
            line-height: normal;
            font-stretch: normal;
            text-decoration: none;
        }

        .frame1-navigation {
            top: 30px;
            left: 940px;
            width: 650px;
            height: 94px;
            position: absolute;
            border-radius: 30px;
        }

        .main-link {
            top: 60px;
            left: 1088px;
            color: rgba(0, 0, 0, 1);
            width: 190px;
            height: auto;
            position: absolute;
            font-size: 24px;
            font-style: Regular;
            text-align: left;
            font-family: Inter;
            font-weight: 400;
            line-height: normal;
            font-stretch: normal;
            text-decoration: none;
            text-decoration: underline;
        }

        .about-link {
            top: 60px;
            left: 1200px;
            color: rgba(0, 0, 0, 1);
            width: 190px;
            height: auto;
            position: absolute;
            font-size: 24px;
            font-style: Regular;
            text-align: left;
            font-family: Inter;
            font-weight: 400;
            line-height: normal;
            font-stretch: normal;
            text-decoration: none;
        }

        .scheme-link {
            top: 60px;
            left: 1308px;
            color: rgba(0, 0, 0, 1);
            width: 239px;
            height: auto;
            position: absolute;
            font-size: 24px;
            font-style: Regular;
            text-align: left;
            font-family: Inter;
            font-weight: 400;
            line-height: normal;
            font-stretch: normal;
            text-decoration: none;
        }

        .placeholder-contacts {
            top: 60px;
            left: 1469px;
            color: rgba(0, 0, 0, 1);
            width: 159px;
            height: auto;
            position: absolute;
            font-size: 24px;
            font-style: Regular;
            text-align: left;
            font-family: Inter;
            font-weight: 400;
            line-height: normal;
            font-stretch: normal;
            text-decoration: none;
        }

        .frame1-container-navigation {
            top: 0px;
            left: 0px;
            width: 1980px;
            height: 154px;
            position: absolute;
            border-color: rgba(0, 0, 0, 1);
            border-style: solid;
            border-width: 1px;
        }
    }

    .frame-container {
        width: 100%;
        display: flex;
        overflow: auto;
        min-height: 100vh;
        align-items: center;
        flex-direction: column;
    }

    .frame-frame {
        width: 100%;
        height: 1280px;
        display: flex;
        overflow: hidden;
        position: relative;
        align-items: flex-start;
        flex-shrink: 0;
        background-color: rgba(58, 56, 66, 1);
    }

    .frame-rectangle2 {
        top: 0px;
        left: 0px;
        width: 1980px;
        height: 154px;
        position: absolute;
        border-color: rgba(0, 0, 0, 1);
        border-style: solid;
        border-width: 1px;
    }

    .frame-photo17091683131 {
        top: 15px;
        left: 10px;
        width: 151px;
        height: 124px;
        position: absolute;
    }

    .frame-rectangle3 {
        top: 30px;
        left: 1040px;
        width: 800px;
        height: 94px;
        position: absolute;
        border-radius: 30px;
    }

    .frame-photo17092264401 {
        top: 154px;
        left: 0px;
        width: 100%;
        height: auto;
        position: absolute;
    }

    .frame-image17092268376041 {
        top: 655px;
        left: 1.21%;
        width: 45.15%;
        height: auto;
        position: absolute;
    }

    .frame-rectangle6 {
        top: 202px;
        left: 70%;
        width: 26%;
        height: auto;
        position: absolute;
        border-radius: 30px;
    }

    .frame-text10 {
        top: 226px;
        left: 71%;
        color: rgba(0, 0, 0, 1);
        width: 24%;
        height: auto;
        position: absolute;
        font-size: 24px;
        font-style: Regular;
        text-align: left;
        font-family: Inter;
        font-weight: 400;
        line-height: normal;
        font-stretch: normal;
        text-decoration: none;
    }

    .frame-image2 {
        top: 132px;
        left: 10px;
        width: 1440px;  
        height: 885px;
        position: absolute;
    }

    .frame-rectangle5 {
        top: 537px;
        left: 70%;
        width: 26%;
        height: auto;
        position: absolute;
        border-radius: 30px;
    }
    .frame-text14 {
        top: 559px;
        left: 71%;
        color: rgba(0, 0, 0, 1);
        width: 25%;
        height: auto;
        position: absolute;
        font-size: 24px;
        font-style: Regular;
        text-align: left;
        font-family: Inter;
        font-weight: 400;
        line-height: normal;
        font-stretch: normal;
        text-decoration: none;
    }

    body {
        display: flex;
        min-height: 100vh;
        margin: 0;
        margin-bottom: 150px;
    }

    .footer {
        height: 150px;
        background-color: rgba(58, 56, 66, 1);
        z-index: 5;
        border-width: 15px;
        border-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: scroll;
    }

    .main-oppenheimer {
        top: 15px;
        left: 35px;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 102px;
        height: 123px;
        padding: 0;
        border: none;
        background: transparent;
    }

    .oppenheimer-but-img {
        max-width: 100%;
        max-height: 100%;
    }

    .main-barbie {
        top: 15px;
        left: 160px;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 102px;
        height: 123px;
        padding: 0;
        border: none;
        background: transparent;
    }

    .barbie-but-img {
        max-width: 100%;
        max-height: 100%;
    }

    .main-spider-man {
        top: 15px;
        left: 280px;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 102px;
        height: 123px;
        padding: 0;
        border: none;
        background: transparent;
    }

    .spider-man-but-img {
        max-width: 100%;
        max-height: 100%;
    }

    .main-puss-in-boots {
        top: 15px;
        left: 400px;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 102px;
        height: 123px;
        padding: 0;
        border: none;
        background: transparent;
    }

    .puss-in-boots-img {
        max-width: 100%;
        max-height: 100%;
    }

    .main-guardians {
        top: 15px;
        left: 520px;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 102px;
        height: 123px;
        padding: 0;
        border: none;
        background: transparent;
    }

    .guardians-img {
        max-width: 100%;
        max-height: 100%;
    }

    .main-flower-moon {
        top: 15px;
        left: 640px;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 102px;
        height: 123px;
        padding: 0;
        border: none;
        background: transparent;
    }

    .flower-moon-img {
        max-width: 100%;
        max-height: 100%;
    }

    .main-john-wick {
        top: 15px;
        left: 760px;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 102px;
        height: 123px;
        padding: 0;
        border: none;
        background: transparent;
    }

    .john-wick-img {
        max-width: 100%;
        max-height: 100%;
    }

    .main-mandalorian {
        top: 15px;
        left: 880px;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 102px;
        height: 123px;
        padding: 0;
        border: none;
        background: transparent;
        visibility: hidden;
    }

    .mandalorian-img {
        max-width: 100%;
        max-height: 100%;
    }

.mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    z-index: 999;
    box-sizing: border-box;
    text-align: center;
    border: solid;
    border-color: black;
    border-width: 3px;
}


.mobile-nav.show {
    display: block;
}

.menu-main-link {
    left: 30%;
    top: 150px;
    font-size: 24px;
    position: absolute;
    color: rgba(0, 0, 0, 1);
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.menu-about-link {
    left: 30%;
    top: 180px;
    font-size: 24px;
    position: absolute;
    color: rgba(0, 0, 0, 1);
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.menu-scheme-link {
    left: 30%;
    top: 210px;
    font-size: 24px;
    position: absolute;
    color: rgba(0, 0, 0, 1);
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.menu-placeholder-contacts {
    left: 30%;
    top: 240px;
    font-size: 24px;
    position: absolute;
    color: rgba(0, 0, 0, 1);
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.menu-text {
    top: 35px;
    left: 70px;
    color: rgba(0, 0, 0, 1);
    width: 288px;
    height: auto;
    position: absolute;
    font-size: 36px;
    font-style: Regular;
    text-align: left;
    font-family: JejuHallasan;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.menu-logo {
    top: 30px;
    left: 10px;
    width: 56px;
    height: 42px;
    position: absolute;
}

.menu-cancel {
    top: 35px;
    left: 230px;
    z-index: 1;
    width: 40px;
    display: flex;
    height: 40px;
    border: none;
    background-color: transparent;
    padding: 0;
    position: absolute;
}

.cancel-image {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 991px) {

    .menu-button {
        top: 55px;
        left: 5px;
        z-index: 1;
        width: 60px;
        display: flex;
        height: 60px;
        border: none;
        background-color: transparent;
        padding: 0;
        position: absolute;
    }

    .menu-image {
        width: 100%;
        height: 100%;
    }

    .frame1-image17 {
        top: 62%;
        left: 10%;
        width: 80%;
        height: auto;
        position: absolute;
    }

    .frame1-rect {
        top: 20%;
        left: 10%;
        width: 80%;
        height: 35%;
        position: absolute;
        background: white;
        border-radius: 30px;
    }

    .frame-text {
        top: 70px;
        left: 145px;
        color: rgba(0, 0, 0, 1);
        width: 288px;
        height: auto;
        position: absolute;
        font-size: 36px;
        font-style: Regular;
        text-align: left;
        font-family: JejuHallasan;
        font-weight: 400;
        line-height: normal;
        font-stretch: normal;
        text-decoration: none;
    }

    .frame1-photo17091683133 {
        top: 55px;
        left: 65px;
        width: auto;
        height: 60px;
        position: absolute;
    }

    .frame1-navigation {
        display: none;
    }

    .main-link {
        display: none;
    }

    .about-link {
        display: none;
    }

    .scheme-link {
        display: none;
    }

    .placeholder-contacts {
        display: none;
    }

    .frame1-container-navigation {
        top: 0%;
        left: 0%;
        width: 100%;
        height: 150px;
        position: absolute;
        border-color: rgba(0, 0, 0, 1);
        border-style: solid;
        border-width: 1px;
    }

    .frame1-rectangle17 {
        top: 286px;
        left: 83px;
        width: 588px;
        height: 828px;
        position: absolute;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .frame-photo17092264401 {
        top: 154px;
        left: 0px;
        width: 220%;
        height: auto;
        position: absolute;
        max-height: 610px;
        clip-path: inset(0px 50% 0px 0px);
    }

    .image-cropper {
        width: 100%;
        height: auto;
    }

    .frame-image17092268376041 {
        top: 655px;
        left: 10%;
        width: 80%;
        height: auto;
        max-height: 280px;
        position: absolute;
    }

    .frame-rectangle6 {
        top: 40%;
        left: 10%;
        width: 80%;
        height: auto;
        max-height: 300px;
        position: absolute;
        border-radius: 30px;
    }

    .frame-text10 {
        top: 41%;
        left: 11%;
        color: rgba(0, 0, 0, 1);
        width: 79%;
        height: auto;
        position: absolute;
        font-size: 24px;
        font-style: Regular;
        text-align: left;
        font-family: Inter;
        font-weight: 400;
        line-height: normal;
        font-stretch: normal;
        text-decoration: none;
    }

    .frame-rectangle5 {
        top: 60%;
        left: 10%;
        width: 80%;
        height: auto;
        position: absolute;
        border-radius: 30px;
    }

    .frame-text14 {
        top: 61%;
        left: 11%;
        color: rgba(0, 0, 0, 1);
        width: 79%;
        height: auto;
        position: absolute;
        font-size: 24px;
        font-style: Regular;
        text-align: left;
        font-family: Inter;
        font-weight: 400;
        line-height: normal;
        font-stretch: normal;
        text-decoration: none;
    }

    .frame-rectangle7 {
        top: 80%;
        left: 10%;
        width: 80%;
        height: auto;
        position: absolute;
        border-radius: 15px;
    }

    .frame-text12 {
        top: 61%;
        left: 12%;
        color: rgba(0, 0, 0, 1);
        width: 79%;
        height: auto;
        position: absolute;
        font-size: 24px;
        font-style: Regular;
        text-align: left;
        font-family: Inter;
        font-weight: 400;
        line-height: normal;
        font-stretch: normal;
        text-decoration: none;
    }
}